Ladislav Lhotka's review

Document: draft-ietf-netconf-list-pagination
Title: List Pagination for YANG-driven Protocols
Reviewer: Ladislav Lhotka
Review result: Ready with Issues

I reviewed previously revision -03 of this document. Most of my comments and
suggestions have been taken into account, and I think the document has improved
considerably.

I am still not happy with handling of XPath in the "where" query parameter:

- It is referred to sec. 6.4.1 of RFC 7950 for the definition of XPath context.
However, that section doesn't define the context node, so section 3.1.1 should
state that the context node is the target of the query (I assume). Moreover,
the accessible tree as defined in sec. 6.4.1 of RFC 7950 depends on
circumstances that are specific to YANG, so I think an explicit definition of
the accessible tree should be given in sec. 3.1.1.

- Sec. 3.1.1 also says that prefix binding are further defined at the protocol
level. However, I don't see anything like this in
draft-ietf-netconf-list-pagination-nc-07.

- Standard XPath is very liberal in terms of missing nodes – they almost never
lead to an error. I think a similar approach could be adopted here, too: an
expression referring to a missing node could simply lead to a filter expression
that is always false.

- I don't understand at all why nodes that are optional and conditional in the
schema are not allowed. Note that e.g. an optional leaf may be defined with a
default and then everything should be absolutely fine. This also applies to the
"sort-by" query parameter.

**** Nits

- The document uses "descendant" and "descendent" interchangeably. Whilst both
forms are possible, I'd suggest to stick to one of them, probably the former.


Regarding Lada's comments,
OLD TEXT：
“
Allowed Values
   The allowed values are XPath 1.0 expressions.  The XPath context
   follows Section 6.4.1 of [RFC7950]and details (such as prefix
   bindings) are further defined at the protocol level, see
   [I-D.ietf-netconf-list-pagination-nc] and
   [I-D.ietf-netconf-list-pagination-rc].  It is an error if the
   XPath expression references a node identifier that does not exist
   in the schema, is optional or conditional in the schema or, for
   constrained "config false" lists and leaf-lists (see Section 3.3),
   if the node identifier does not point to a node having the
   "indexed" extension statement applied to it (see Section 3.3.2).
”
NEW TEXT:
“
Allowed Values
   The allowed values are XPath 1.0 expressions. The XPath context
   follows Section 6.4.1 of [RFC7950],**e.g., the context node is the target of the query, accessible tree is "config
   true" lists and leaf-lists or "config
   false" lists and leaf-lists** and details (such as prefix
   bindings) are further defined at the protocol level, see
   [I-D.ietf-netconf-list-pagination-nc] and
   [I-D.ietf-netconf-list-pagination-rc].  It is an error if the
   XPath expression references a node identifier that does not exist
   in the schema, or, for
   constrained "config false" lists and leaf-lists (see Section 3.3),
   if the node identifier does not point to a node having the
   "indexed" extension statement applied to it (see Section 3.3.2).

”

s/descendent/descendant

If my understanding is correct, 
See C.1 of draft-ietf-netconf-list-pagination-nc for prefix binding example as follows:
"
       filter type="xpath" select="/es:members/es:member"
         xmlns:es="https://example.com/ns/example-social"
"

> If my understanding is correct, See C.1 of draft-ietf-netconf-list-pagination-nc for prefix binding example as follows: " filter type="xpath" select="/es:members/es:member" xmlns:es="https://example.com/ns/example-social" "

Since we mentioned, the prefix bindings should be explicitly defined.

> Regarding Lada's comments, OLD TEXT： “ Allowed Values The allowed values are XPath 1.0 expressions. The XPath context follows Section 6.4.1 of [RFC7950]and details (such as prefix bindings) are further defined at the protocol level, see [I-D.ietf-netconf-list-pagination-nc] and [I-D.ietf-netconf-list-pagination-rc]. It is an error if the XPath expression references a node identifier that does not exist in the schema, is optional or conditional in the schema or, for constrained "config false" lists and leaf-lists (see Section 3.3), if the node identifier does not point to a node having the "indexed" extension statement applied to it (see Section 3.3.2). ” NEW TEXT: “ Allowed Values The allowed values are XPath 1.0 expressions. The XPath context follows Section 6.4.1 of [RFC7950],**e.g., the context node is the target of the query, accessible tree is "config true" lists and leaf-lists or "config false" lists and leaf-lists** and details (such as prefix bindings) are further defined at the protocol level, see [I-D.ietf-netconf-list-pagination-nc] and [I-D.ietf-netconf-list-pagination-rc]. It is an error if the XPath expression references a node identifier that does not exist in the schema, or, for constrained "config false" lists and leaf-lists (see Section 3.3), if the node identifier does not point to a node having the "indexed" extension statement applied to it (see Section 3.3.2).
> 
> ”
> 
> s/descendent/descendant

**I can't recall the reason for this**
"I don't understand at all why nodes that are optional and conditional in the
schema are not allowed. Note that e.g. an optional leaf may be defined with a
default and then everything should be absolutely fine. This also applies to the
"sort-by" query parameter."
**Can the method below be used?**
Standard XPath is very liberal in terms of missing nodes – they almost never
lead to an error. I think a similar approach could be adopted here, too: an
expression referring to a missing node could simply lead to a filter expression
that is always false.

See Quoted text from Lada:
"
Standard XPath is very liberal in terms of missing nodes – they almost never
lead to an error. I think a similar approach could be adopted here, too: an
expression referring to a missing node could simply lead to a filter expression
that is always false.
"
Based on Argument provided by Lada:My proposed change is just simply delete the sentence "is optional or conditional in the schema ", 

Per summarize the open issues well in 
https://mailarchive.ietf.org/arch/msg/netconf/_eZQD45VWad2kVo9vS6EqphPPok/

* where query parameter: XPath context needs a better definition

* XPath filters should not lead to an error, but instead evaluate to false

* clarify in text how and when offset and cursor can conflict

* NETCONF protocol specific bindings for where query parameter

The authors intend to clear all issues and publish a revised document before IETF 124 to conclude the WGLC.


We should've replied to Lada's email long ago.  Converting everything to GitHub issues is not helping.  Now so much time has passed, posting a draft and saying "does this resolve your issues" seems difficult.

I propose having an author's call to go through these issues one by one...