OPSDir review

Some minor issues:
1. It would be nice to add some guidance on logging or debugging paginated
 queries;
2. Add notes on potential resource impact from large or complex
 queries;
3. Parameters like offset and cursor could potentially conflict. It would be
useful to add clarification when used together;
4. The draft briefly mentions
that the NETCONF list pagination YANG module may also be used with RESTCONF,
but it does not provide details on how to do so, such as how the pagination
parameters would map to RESTCONF's HTTP-based interface (e.g., query parameters
or request body).

For Question 4：	
       Refer to Example of section 3.6.1 in RFC8040, we can have similar example:
	"
	   The client might send the following POST request message to invoke
       the "get-data" RPC operation:

      POST /restconf/operations/example-ops:get-data HTTP/1.1
      Host: example.com
      Content-Type: application/yang-data+xml

      <input xmlns="https://example.com/ns/example-ops">
	     <target>/example-social:members/member=alice/favorites/uint8-numbers</target>
         <where>//stats[starts-with(joined,'2020')]</where>
         <sort-by>joined</sort-by>
         <direction>backwards</direction>
         <offset>2</offset>
         <limit>2</limit>
         <sublist-limit>1</sublist-limit>
         <locale>sv_US</locale>
      </input>
	"

For Question 2, here is the proposed change:
OLD TEXT:
"
Retrieval of all the entries can lead to inefficiencies  in the
server, the client, and the network in between.  For instance,
consider the following:
"
NEW TEXT:
"
Retrieval of all the entries can lead to inefficiencies (e.g., long loading time, memory overconsuming or crash) in the
server, the client, and the network in between.  For instance,
consider the following:

"

For Question 3, we can make the text clear to clarify "offset" and "cursor" can not be used together.
See proposed text to section 3.1.5:
OLD TEXT:
"
Conformance
   The "offset" query parameter MUST be supported for all lists and leaf-lists .
"
NEW TEXT:
"
Conformance
   The "offset" query parameter MUST be supported for all lists
 and leaf-lists and MUST not used together with "cursor" query parameter.

"

For question 1, I believe we have used list-pagination-error to keep track of errors for debugging and logging purpose such as offset out of range, cursor not found, local not available, is this sufficient?

> For question 1, I believe we have used list-pagination-error to keep track of errors for debugging and logging purpose such as offset out of range, cursor not found, local not available, is this sufficient?

I think this is sufficient.

> For Question 2, here is the proposed change: OLD TEXT: " Retrieval of all the entries can lead to inefficiencies in the server, the client, and the network in between. For instance, consider the following: " NEW TEXT: " Retrieval of all the entries can lead to inefficiencies (e.g., long loading time, memory overconsuming or crash) in the server, the client, and the network in between. For instance, consider the following:
> 
> "

Looks good to me.

> NEW TEXT: " Conformance The "offset" query parameter MUST be supported for all lists and leaf-lists and MUST not used together with "cursor" query parameter.
> 
> "

Added "be" in new text.
NEW TEXT:
"
Conformance
The "offset" query parameter MUST be supported for all lists
and leaf-lists and MUST not be used together with "cursor" query parameter.

"

> For Question 4： Refer to Example of section 3.6.1 in RFC8040, we can have similar example: " The client might send the following POST request message to invoke the "get-data" RPC operation:
> 
> ```
>   POST /restconf/operations/example-ops:get-data HTTP/1.1
>   Host: example.com
>   Content-Type: application/yang-data+xml
> 
>   <input xmlns="https://example.com/ns/example-ops">
>      <target>/example-social:members/member=alice/favorites/uint8-numbers</target>
>      <where>//stats[starts-with(joined,'2020')]</where>
>      <sort-by>joined</sort-by>
>      <direction>backwards</direction>
>      <offset>2</offset>
>      <limit>2</limit>
>      <sublist-limit>1</sublist-limit>
>      <locale>sv_US</locale>
>   </input>
> "
> ```

Looks good to me

For Question #4, the issue may be that this document refers to NETCONF at all.   IMO, this document should not have NETCONF or RESTCONF examples, but simply say that protocol-mappings can be defined, and then reference the -nc and -rc documents.

For question #2, agree that the proposed update is good.

for question #3, this is not a "conformance" issue.  The sentence fragment should be moved to another part of the document.

For question #1, this `list-pagination-error` seems to be unused - it is not referenced by any of the three documents.  We should define it completely or remove it.

> For question [#1](https://github.com/netconf-wg/list-pagination/pull/1), this `list-pagination-error` seems to be unused - it is not referenced by any of the three documents. We should define it completely or remove it.

I think we can add a section called list pagination query errors, which will resolve the question [#1].

> For Question [#4](https://github.com/netconf-wg/list-pagination/issues/4), the issue may be that this document refers to NETCONF at all. IMO, this document should not have NETCONF or RESTCONF examples, but simply say that protocol-mappings can be defined, and then reference the -nc and -rc documents.

Agreed. Better solution. Something like

The NETCONF list pagination YANG module may also be used with RESTCONF. The protocol-mappings can be found [the-rc-document].

> for question [#3](https://github.com/netconf-wg/list-pagination/issues/3), this is not a "conformance" issue. The sentence fragment should be moved to another part of the document.

How about adding a section Offset v.s. Cursor?

> For question [#1](https://github.com/netconf-wg/list-pagination/pull/1), this `list-pagination-error` seems to be unused - it is not referenced by any of the three documents. We should define it completely or remove it.

the statement "list-pagination-error is not used" is not true. the derived identities of list-pagination-error have been used in section 3.1.3, section 3.1.5, section 3.1.6. 

> > For Question [#4](https://github.com/netconf-wg/list-pagination/issues/4), the issue may be that this document refers to NETCONF at all. IMO, this document should not have NETCONF or RESTCONF examples, but simply say that protocol-mappings can be defined, and then reference the -nc and -rc documents.
> 
> Agreed. Better solution. Something like
> 
> The NETCONF list pagination YANG module may also be used with RESTCONF. The protocol-mappings can be found [the-rc-document].

See PR https://github.com/netconf-wg/list-pagination/pull/49

> > for question [#3](https://github.com/netconf-wg/list-pagination/issues/3), this is not a "conformance" issue. The sentence fragment should be moved to another part of the document.
> 
> How about adding a section Offset v.s. Cursor?

My understanding is move the sentence to other existing section, instead of creating a new section.

I think we can close this issue ticket.