p 5, sec 3.1.1.  The "where" Query Parameter

(4) p 5, sec 3.1.1.  The "where" Query Parameter
   Allowed Values
      The allowed values are XPath 1.0 expressions.  The XPath context
      follows Section 6.4.1 of [RFC7950] and details (such as prefix
      bindings) are further defined at the protocol level, see
      [I-D.ietf-netconf-list-pagination-nc] and
      [I-D.ietf-netconf-list-pagination-rc].  It is an error if the
      XPath expression references a node identifier that does not exist
      in the schema, is optional or conditional in the schema or, for
      constrained "config false" lists and leaf-lists (see Section 3.3),
      if the node identifier does not point to a node having the
      "indexed" extension statement applied to it (see Section 3.3.2).
Note, I couldn't obviously find additional text regarding the XPath
context or prefix bindings in the protocols drafts (beyond the RC draft
mentioning "Prefixes in the XPath expression MUST be YANG module names.")
But I was wondering whether this text should be closer to the description
of node-instance-identifier from the NACM RFC.  E.g., does it need to
convey anything like:
             o  The set of namespace declarations are those in scope on
                the leaf element where this type is used.
             o  The set of variable bindings contains one variable,
                'USER', which contains the name of the user of the
                current session.
             o  The function library is the core function library, but
                note that due to the syntax restrictions of an
                instance-identifier, no functions are allowed.
             o  The context node is the root node in the data tree.

This needs discussion.

@avtobiff 
I can't recall if we discussed this issue.

I think we will leave this as is.

If something is needed perhaps it should be stated that
where is an instance identifier, but that might be too
restrictive?

The reference to RFC 7950 should take care of this IMHO.
The clarification in #34 should help somewhat.

IMHO we shouldn't restrict it to become an instance identifier.